### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(30000)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
29995,29995,Brett Garner,M,9th,Rodriguez High School,73,77,11,District,3999,2547363
29996,29996,Jacqueline Clark,F,10th,Rodriguez High School,77,96,11,District,3999,2547363
29997,29997,Justin Parker,M,9th,Rodriguez High School,64,64,11,District,3999,2547363
29998,29998,Gloria Blackwell,F,9th,Rodriguez High School,70,71,11,District,3999,2547363
29999,29999,Brandon Hayes,M,11th,Rodriguez High School,69,81,11,District,3999,2547363

In [40]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [18]:
number_of_schools=school_data_complete["school_name"].nunique()
number_of_students = school_data_complete["student_name"].count()
total_budget = school_data["budget"].sum()
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()




summary_dict = [{"Number of Schools":number_of_schools,
                 "Number of Students":number_of_students,
                 "Total Budget":total_budget,
                 "Average Math Score": average_math_score,
                 "Average Readiing Score": average_reading_score,
                
                }]

pd.DataFrame(summary_dict)
#top_30_math_score= school_data_complete.sort_values("math_score", ascending = False)

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Readiing Score
0,15,39170,24649428,78.985371,81.87784

In [27]:
number_of_students = school_data_complete.groupby('school_name').count()['student_name']
number_of_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [76]:
b = school_data_complete.groupby('school_name').sum()['reading_score']
b1 = b/number_of_students
b1

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

In [77]:
c = school_data_complete.groupby('school_name').sum()['math_score']
c1 = c/number_of_students
c1

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
dtype: float64

In [78]:
a = school_data_complete.groupby(['school_name']).first()


number_of_students = school_data_complete.groupby('school_name').count()['student_name']


total_budget = number_of_students * student_budget
total_budget

student_budget = a['budget'].mean()/a['size'].mean()
student_budget



a1 = school_data_complete.loc[school_data_complete['math_score'] >=70].groupby(['school_name']).size()
percenatge_passed_in_maths = a1/number_of_students*100

a2 = school_data_complete.loc[school_data_complete['reading_score'] >=70].groupby(['school_name']).size()
percenatge_passed_in_reading = a2/number_of_students*100

a3 = school_data_complete.loc[(school_data_complete['math_score'] >=70) & (school_data_complete['reading_score'] >=70)].groupby(['school_name']).size()
percenatge_passed_overall = a3/number_of_students*100

summary = pd.DataFrame({'School Type': a['type'],
                        'Total Students': number_of_students,
                        'Total Budget' : total_budget,

                       'Average Math Score' : c1,
                       'Average Reading Score' : b1,
                        '% Passing Math' : percenatge_passed_in_maths,
                        '% Passing Reading' : percenatge_passed_in_reading,
                        '% Overall Passing' : percenatge_passed_overall,

                       })

copy_of_summary = summary.copy()
copy_of_summary['Total Budget'] = copy_of_summary['Total Budget'].map("${:,.2f}".format)


copy_of_summary['Average Math Score'] = copy_of_summary['Average Math Score'].map("{:,.2f}".format)
copy_of_summary['Average Reading Score'] = copy_of_summary['Average Reading Score'].map("{:,.2f}".format)
copy_of_summary['% Passing Math'] = copy_of_summary['% Passing Math'].map("{:,.2f}%".format)
copy_of_summary['% Passing Reading'] = copy_of_summary['% Passing Reading'].map("{:,.2f}%".format)
copy_of_summary['% Overall Passing'] = copy_of_summary['% Overall Passing'].map("{:,.2f}%".format)

copy_of_summary

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [79]:
copy_of_summary.sort_values('% Overall Passing', ascending = False).head(5)

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [80]:
copy_of_summary.sort_values('% Overall Passing', ascending = True).head(5)

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [81]:
bins = [0, 584.99, 629.99, 644.99, 680]

group_names = ["0 - 585", "585-630", "630-645", "645-680"]

## Reading Score by Grade

In [91]:
school_data_complete.groupby(['school_name', 'grade'])['math_score', 'reading_score'].mean().sort_values('grade')

C:\Users\nosha\AppData\Local\Temp/ipykernel_3500/2298377776.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  school_data_complete.groupby(['school_name', 'grade'])['math_score', 'reading_score'].mean().sort_values('grade')

                             math_score  reading_score
school_name           grade
Bailey High School    10th    76.996772      80.907183
Hernandez High School 10th    77.337408      80.660147
Huang High School     10th    75.908735      81.512386
Johnson High School   10th    76.691117      80.773431
Griffin High School   10th    84.229064      83.706897
Pena High School      10th    83.372000      83.612000
Rodriguez High School 10th    76.612500      80.629808
Ford High School      10th    77.672316      81.262712
Shelton High School   10th    82.917411      83.441964
Holden High School    10th    83.429825      83.324561
Figueroa High School  10th    76.539974      81.408912
Thomas High School    10th    83.087886      84.254157
Wilson High School    10th    83.724422      84.021452
Cabrera High School   10th    83.154506      84.253219
Wright High School    10th    84.010288      83.812757
Holden High School    11th    85.000000      83.815534
Thomas High School    11th    83.498795      83.585542
Pena High School      11th    84.328125      84.335938
Johnson High School   11th    77.491653      80.616027
Wilson High School    11th    83.195326      83.764608
Wright High School    11th    83.836782      84.156322
Shelton High School   11th    83.383495      84.373786
Rodriguez High School 11th    76.395626      80.864811
Huang High School     11th    76.446602      81.417476
Hernandez High School 11th    77.136029      81.396140
Figueroa High School  11th    76.884344      80.640339
Bailey High School    11th    77.515588      80.945643
Ford High School      11th    76.918058      80.403642
Cabrera High School   11th    82.765560      83.788382
Griffin High School   11th    83.842105      84.288089
Hernandez High School 12th    77.186567      80.857143
Figueroa High School  12th    77.151369      81.384863
Thomas High School    12th    83.497041      83.831361
Rodriguez High School 12th    77.690748      80.376426
Pena High School      12th    84.121547      84.591160
Ford High School      12th    76.179963      80.662338
Wilson High School    12th    83.035794      84.317673
Shelton High School   12th    83.778976      82.781671
Johnson High School   12th    76.863248      81.227564
Griffin High School   12th    83.356164      84.013699
Huang High School     12th    77.225641      80.305983
Wright High School    12th    83.644986      84.073171
Bailey High School    12th    76.492218      80.912451
Holden High School    12th    82.855422      84.698795
Cabrera High School   12th    83.277487      84.287958
Wilson High School    9th     83.085578      83.939778
Thomas High School    9th     83.590022      83.728850
Bailey High School    9th     77.083676      81.303155
Figueroa High School  9th     76.403037      81.198598
Shelton High School   9th     83.420755      84.122642
Rodriguez High School 9th     76.859966      80.993127
Hernandez High School 9th     77.438495      80.866860
Pena High School      9th     83.625455      83.807273
Ford High School      9th     77.361345      80.632653
Johnson High School   9th     77.187857      81.260714
Huang High School     9th     77.027251      81.290284
Griffin High School   9th     82.044010      83.369193
Holden High School    9th     83.787402      83.677165
Cabrera High School   9th     83.094697      83.676136
Wright High School    9th     83.264706      83.833333

* Perform the same operations as above for reading scores

In [89]:
school_data_complete.groupby(['school_name', 'grade'])[ 'reading_score'].mean().unstack().reset_index()

grade            school_name       10th       11th       12th        9th
0         Bailey High School  80.907183  80.945643  80.912451  81.303155
1        Cabrera High School  84.253219  83.788382  84.287958  83.676136
2       Figueroa High School  81.408912  80.640339  81.384863  81.198598
3           Ford High School  81.262712  80.403642  80.662338  80.632653
4        Griffin High School  83.706897  84.288089  84.013699  83.369193
5      Hernandez High School  80.660147  81.396140  80.857143  80.866860
6         Holden High School  83.324561  83.815534  84.698795  83.677165
7          Huang High School  81.512386  81.417476  80.305983  81.290284
8        Johnson High School  80.773431  80.616027  81.227564  81.260714
9           Pena High School  83.612000  84.335938  84.591160  83.807273
10     Rodriguez High School  80.629808  80.864811  80.376426  80.993127
11       Shelton High School  83.441964  84.373786  82.781671  84.122642
12        Thomas High School  84.254157  83.585542  83.831361  83.728850
13        Wilson High School  84.021452  83.764608  84.317673  83.939778
14        Wright High School  83.812757  84.156322  84.073171  83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [116]:
summary = school_rankingdf.drop(['size_passing_maths', 'size_passing_reading', 'size_of_students_passed'],
                                         axis=1)
school_summarydf.head()

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",83.35,83.82,93.39%,97.14%,90.60%

In [123]:
copy_of_summary

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",83.68,83.95,93.33%,96.61%,90.33%

In [135]:
bins = [0, 584.99, 629.99, 644.99, 680]
group_names = ["less585", "585to630", "630to645", "645to680"]

In [139]:
copy_of_summary["Tesmary"] = pd.cut(copy_of_summary["Total Students"], bins, labels=group_names, include_lowest=True)
copy_of_summary

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,TestcoreSummary,Tesmary
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",77.05,81.03,66.68%,81.93%,54.64%,Large(2000-5000),NaN
Cabrera High School,Charter,1858,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%,Medium(1000-2000),NaN
Figueroa High School,District,2949,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.20%,Large(2000-5000),NaN
Ford High School,District,2739,"$1,763,916.00",77.10,80.75,68.31%,79.30%,54.29%,Large(2000-5000),NaN
Griffin High School,Charter,1468,"$917,500.00",83.35,83.82,93.39%,97.14%,90.60%,Medium(1000-2000),NaN
Hernandez High School,District,4635,"$3,022,020.00",77.29,80.93,66.75%,80.86%,53.53%,Large(2000-5000),NaN
Holden High School,Charter,427,"$248,087.00",83.80,83.81,92.51%,96.25%,89.23%,Small(<1000),less585
Huang High School,District,2917,"$1,910,635.00",76.63,81.18,65.68%,81.32%,53.51%,Large(2000-5000),NaN
Johnson High School,District,4761,"$3,094,650.00",77.07,80.97,66.06%,81.22%,53.54%,Large(2000-5000),NaN
Pena High School,Charter,962,"$585,858.00",83.84,84.04,94.59%,95.95%,90.54%,Small(<1000),NaN
Rodriguez High School,District,3999,"$2,547,363.00",76.84,80.74,66.37%,80.22%,52.99%,Large(2000-5000),NaN
Shelton High School,Charter,1761,"$1,056,600.00",83.36,83.73,93.87%,95.85%,89.89%,Medium(1000-2000),NaN
Thomas High School,Charter,1635,"$1,043,130.00",83.42,83.85,93.27%,97.31%,90.95%,Medium(1000-2000),NaN
Wilson High School,Charter,2283,"$1,319,574.00",83.27,83.99,93.87%,96.54%,90.58%,Large(2000-5000),NaN
Wright High School,Charter,1800,"$1,049,400.00",83.68,83.95,93.33%,96.61%,90.33%,Medium(1000-2000),NaN

In [140]:
copy_of_summary['%_Overall_Passing'] = pd.cut(copy_of_summary['% Overall Passing'], bins=bins, labels=labels)

TypeError: '<' not supported between instances of 'float' and 'str'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [141]:
bins2 = [0, 1000, 2000, 5000]
group_names2 = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

In [142]:
copy_of_summary["TestcoreSummary"] = pd.cut(copy_of_summary["Total Students"], bins2, labels=group_names2, include_lowest=True)
copy_of_summary

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,TestcoreSummary,Tesmary
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",77.05,81.03,66.68%,81.93%,54.64%,Large(2000-5000),NaN
Cabrera High School,Charter,1858,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%,Medium(1000-2000),NaN
Figueroa High School,District,2949,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.20%,Large(2000-5000),NaN
Ford High School,District,2739,"$1,763,916.00",77.10,80.75,68.31%,79.30%,54.29%,Large(2000-5000),NaN
Griffin High School,Charter,1468,"$917,500.00",83.35,83.82,93.39%,97.14%,90.60%,Medium(1000-2000),NaN
Hernandez High School,District,4635,"$3,022,020.00",77.29,80.93,66.75%,80.86%,53.53%,Large(2000-5000),NaN
Holden High School,Charter,427,"$248,087.00",83.80,83.81,92.51%,96.25%,89.23%,Small(<1000),less585
Huang High School,District,2917,"$1,910,635.00",76.63,81.18,65.68%,81.32%,53.51%,Large(2000-5000),NaN
Johnson High School,District,4761,"$3,094,650.00",77.07,80.97,66.06%,81.22%,53.54%,Large(2000-5000),NaN
Pena High School,Charter,962,"$585,858.00",83.84,84.04,94.59%,95.95%,90.54%,Small(<1000),NaN
Rodriguez High School,District,3999,"$2,547,363.00",76.84,80.74,66.37%,80.22%,52.99%,Large(2000-5000),NaN
Shelton High School,Charter,1761,"$1,056,600.00",83.36,83.73,93.87%,95.85%,89.89%,Medium(1000-2000),NaN
Thomas High School,Charter,1635,"$1,043,130.00",83.42,83.85,93.27%,97.31%,90.95%,Medium(1000-2000),NaN
Wilson High School,Charter,2283,"$1,319,574.00",83.27,83.99,93.87%,96.54%,90.58%,Large(2000-5000),NaN
Wright High School,Charter,1800,"$1,049,400.00",83.68,83.95,93.33%,96.61%,90.33%,Medium(1000-2000),NaN